#navbar{
    height:65px;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    background-color:rgb(228, 228, 228);
    
}
@media (prefers-color-scheme: dark){
    #navbar{
        background-color:rgb(62, 62, 62);
    }
    .navbaritem{
        background-color:rgb(88, 88, 88) !important;
    }
    .tablenav{
        background-image:url(../img/table-dark.svg) !important;
    }
    .navbaritem:active{
        background-color:rgb(70, 70, 70) !important;
    }
    .plannernav{
        background-image:url(../img/planner-dark.svg);
    }
}
.navbaritem{
    margin: 10px;
    width:45px;
    height:45px;
    display:inline-block;
    background-size:cover;
    border-radius:3px;
}
.tablenav{
    background-image:url(../img/table-light.svg);
}
.plannernav{
    background-image:url(../img/planner-light.svg);
}
.navbaritem:active{
    background-color:rgb(171, 171, 171);
}