.popup-container{
    background-color:rgba(0, 0, 0, 0.204);
}
.popup{
    width:75%;
    height:75%;
    background-color:white;
    border-radius:10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.close{
    padding:7px 7px 7px 7px;
}
.popup-action-container{
    position:absolute;
    right:7px;
    bottom:7px;
}