#maintable{
    width:100%;
    height:max-content;
    background-color:rgb(233, 233, 233);
    border-radius:5px;
    border:1px solid gray;
}
@media (prefers-color-scheme: dark){
    #maintable{
        background-color:rgb(97, 97, 97);
        border:1px solid gray;
    }
    td{
        border:1px solid white !important;
        color:white;
    }
    th{
        border-left:1px solid white !important;
        border-right:1px solid white !important;
        border-top:1px solid white !important;
        color:white;
    }
}
#add:active{
    background-color:rgba(0,0,0,0.5);
}
td{
    border:1px solid black;
    padding:5px 0px 5px 0px;
}
th{
    border-left:1px solid black;
    border-right:1px solid black;
}
.delete::before{
    content:"X";
}
.permanent>td>.delete{
    display:none;
}
.delete{
    float:right;
    background-color:rgba(0,0,0,0.3);
    border:transparent;
}
.delete:active{
    float:right;
    background-color:rgba(0,0,0,0.5);
    border:transparent;
}